<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<h1>List of users</h1>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Series</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
            <td>
                <a th:href="@{'/users/edit?id=' + ${user.id}}">edit</a>
                <a th:href="@{'/users/delete?id=' + ${user.id}}">delete</a>
            </td>
        </tr>
    </table>
</div>
<br/>
<hr/>

Create <a href="/users/new">new user</a>

</body>
</html>